@tailwind base;
@tailwind components;
@tailwind utilities;

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #FB48C4,
        0 0 10px  #FB48C4,
        0 0 21px #FB48C4,
        0 0 50px #FB48C4;
       
    
  }

  .neon {
    color: #fff;
    text-shadow:
        
        0 0 10px  #FB48C4,
        0 0 15px #FB48C4,
        0 0 25px #FB48C4;
        
       
    
  }

  @font-face {
    font-family: "Blue-Style";
    src: url("/src/assets/fonts/Blue-Style.woff") format('woff');
  }

  @font-face {
    font-family: "Reglisse";
    src: url("/src/assets/fonts/Reglisse.woff") format('woff');
  }

  @font-face {
    font-family: "Reglisse_Back";
    src: url("/src/assets/fonts/Reglisse_Back.woff") format('woff');
  }

  @font-face {
    font-family: "Reglisse_Fill";
    src: url("/src/assets/fonts/Reglisse_Fill.woff") format('woff');
  }